<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
<<<<<<< HEAD
      <%= debug(params) if Rails.env.development? %>
=======
>>>>>>> f6b7d4b5dc5fd35a2ced48630d0e36ff232ac9c7
    </div>
  </body>
</html>